* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#blogContanier {
    width: 100%;
    height: 2594px;
}

/* 头部栏样式式 */
#header {
    width: 100%;
    height: 465px;
    /* border-bottom: 1px pink dashed; */
}

/* 上方导航栏样式 */

#blog a .arrow {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 4px;
}

#topBar {
    width: 86%;
    height: 120px;
    margin: 0 auto;
    border-bottom: 1px gray solid;
    position: relative;
}

#topBar p {
    position: absolute;
    left: 0;
    top: 45px;
}

#topBar nav {
    position: absolute;
    right: 100px;
    top: 45px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    /* border: 1px pink dashed; */
}

#topBar nav a {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

/* 巨大标题样式 */

#bigTitle {
    width: 85%;
    height: 345px;
    margin: 0 auto;
    line-height: 345px;
    font-size: 230px;
    font-weight: bolder;
    text-align: center;
    border-bottom: 1px gray solid;
}

/* 切换白天黑夜样式的按钮 */

#toggleStyleButton {
    position: absolute;
    right: 0;
    top: 40px;
    width: 60px;
    height: 30px;
    background-color: black;
    border-radius: 30px;
}

#sun,
#moon,
#choseMark {
    position: absolute;
    width: 16px;
    height: 16px;
}

#choseMark {
    border-radius: 50%;
    background-color: white;
    top: 7px;
    right: 6px;
}

#moon {
    top: 7px;
    right: 8px;
}

#sun {
    top: 7px;
    left: 8px;
}


/* blog 区域样式 */

#blog {
    width: 100%;
    height: 2045px;
    /* border-bottom: 1px dashed pink; */
    position: relative;
}

/* 所有blog共用的样式 */
.authorAndDate {
    color: rgb(171, 102, 236);
}

.title {
    font-size: 22px;
    font-weight: bold;
    position: relative;
}

.summary {
    color: gray;
}

.tag {
    height: 24px;
    border-radius: 24px;
    display: inline-block;
    font-size: 15px;
    padding-left: 3px;
    padding-right: 3px;
}

/* Recent blog posts区域 的样式*/

#recentBlogPosts {
    width: 86%;
    height: 862px;
    margin: 0 auto;
    /* border: 1px skyblue dashed; */
}

#rh3,
#ah3 {
    position: relative;
    top: 50px;
    font-size: 25px;
    width: 300px;
    height: 50px;
    margin-bottom: 70px;
}

#recentShowArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* 左上这块儿区域的样式 */

/* #leftTop-blog,
#rightTop-blog,
#down-blog {
    border: 1px orange dashed;
} */

#leftTop-blog {
    width: 592px;
}

#leftTop-blog img {
    width: 592px;
    height: 228px;
    margin-bottom: 20px;
}

.authorAndDate,
.title,
.summary {
    margin-bottom: 15px;
}

#leftTop-blog .tag:nth-child(5) {
    background-color: #f9f5ff;
    color: #6941c6;
}

#leftTop-blog .tag:nth-child(6) {
    background-color: #eef4ff;
    color: #3538cd;
}

#leftTop-blog .tag:nth-child(7) {
    background-color: #eadee8;
    color: #c6498e;
}

/* 右上这块儿区域的样式 */
#rightTop-blog {
    width: 592px;
    height: 432;
}

.rightTop-ceil {
    display: flex;
}

#rightTop-blog img {
    width: 320px;
    height: 200px;
    margin-bottom: 20px;
    margin-right: 20px;
}

#rightTop-blog .title {
    font-size: 20px;
}

#rightTop-content1 .tag:nth-child(4) {
    background-color: #ebf3f9;
    color: #0269a0;
}

#rightTop-content1 .tag:nth-child(5) {
    background-color: #fdf1fb;
    color: #c11474;
}

#rightTop-content2 .tag:nth-child(4) {
    background-color: #ecfdf3;
    color: #047948;
}

#rightTop-content2 .tag:nth-child(5) {
    background-color: #fdf1fa;
    color: #c11474;
}

/* 下面这块儿区域的样式 */

#down-blog {
    margin-top: 40px;
    width: 100%;
    display: flex;
}

#down-blog img {
    width: 592px;
    height: 246px;
    margin-right: 40px;
}

#down-content .tag:nth-child(4) {
    background-color: #f9f5ff;
    color: #6941c6;
}

#down-content .tag:nth-child(5) {
    background-color: #fdf1fa;
    color: #c11474;
}


/* All blog posts区域样式 */
#allBlogPosts {
    width: 86%;
    height: 1180px;
    margin: 0 auto;
    /* border: 1px rgb(142, 235, 135) dashed; */
}

#allBlogShowArea {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    border-bottom: 1px gray solid;
    padding-bottom: 20px;
}

#allBlogShowArea img {
    width: 384px;
    height: 240px;
    margin-bottom: 20px;
}

#allBlogShowArea .tag {
    background-color: #ecfdf3;
    color: #047948;
}

/* 换页器的样式 */

.page-changer {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.page-changer img {
    width: 20px;
    height: 20px;
    position: relative;
    top: 3px
}

.page-changer>a {
    color: gray;
    font-size: 20px;
    position: relative;
    top: 10px;
}

.pages {
    display: flex;
}

.pages a {
    display: inline-block;
    color: gray;
    text-decoration: none;
    width: 40px;
    height: 40px;
    margin: 10px;
    text-align: center;
    line-height: 40px;
}

.pages p {
    position: relative;
    top: 15px;
}

.pages a.chosen {
    background-color: rgb(249 245 255);
    color: rgb(167, 116, 243);
    border-radius: 5px;
}

/* footer的样式 */
footer {
    width: 86%;
    margin: 0 auto;
    font-size: 18px;
}